.allLocation {
    padding: 50px 0;
    background-image: url('../../images/stars-stripes-2_1stars-stripes-2.webp');
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    width: 100%;
    min-height: 1300px;
    &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        color: #4d08a1;
        text-align: center;
        margin-bottom: 50px;
    }
    &__descr {
        font-size: 25px;
        line-height: 40px;
        color: #000;
        text-align: center;
        margin-bottom: 50px;
    }
    &__box-img {
        width: 700px;
        height: 1135px;
        display: block;
        margin: 0 auto;
        margin-bottom: 80px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text {
        text-align: center;
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #000;
    }
}