.contactAddress {
    padding: 100px 0;    
    background-color: #000;
    background-image: radial-gradient(circle, #131385 43%, #000), url(../images/Grain_Latest.png);
    background-position: 0 0, 0 0;
    background-repeat: repeat, repeat-x;
    background-size: auto, 300px;
    &__title {
        color: #fff;
        text-align: center;
        font-weight: 900;
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 50px;
    }
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 10px;
        max-width: 700px;
        padding: 16px;
        margin: 0 auto;
        margin-bottom: 50px;
        &-one {
            background-color: #000;
            font-size: 16px;
            line-height: 20px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            padding: 8px;
        }
        &-link {
            font-weight: 400;
            font-size: 18px;
        }
        &-btn {
            color: #fff;
            text-align: center;
            background-color: #c41220;
            border-radius: 10px;
            width: auto;
            min-width: 168px;
            padding: .6rem 2rem .65rem;
            border: none;
            cursor: pointer;
            font-family: neue-haas-grotesk-text, sans-serif;
            &:hover {
                background-color: #960b16;
            }
        }
    }
    &__information {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #85859a;
        text-align: center;
    }
}